{% extends 'base.html' %}

{% block title %}Vehicles{% endblock title %}

{% block content %}
  {% for vehicle in object_list %}
    <div class="card">
      <div class="card-header">
        <span class="font-weight-bold">Year: {{vehicle.year_manufactured}}</span>
        <span class="font-weight-bold">Make: {{ vehicle.make }} | </span>
        <span class="font-weight-bold">Model: {{ vehicle.model }} | </span>

        <span class="font-muted">Trim: {{ vehicle.trim }} | </span>
        <span class="font-muted">Mileage: {{ vehicle.mileage }} | </span>
        <span class="font-muted">VIN: {{ vehicle.VIN }}</span>
      </div>
    </div>
    <br />
  {% endfor %}
{% endblock content %}
